
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    color: red;
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif
}

nav {
    height: 70px;
    display: flex;
    justify-content: space-between;

    background-color: black;
    padding: 16px;
    text-align: center;
}